.tickerContainer {
  width: 50%;
  /* background-color: #fff; */
  border-radius: 3px;
  margin-top: 50px;
}

.tickers {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 25px;
  padding: 10px;
}
