.tokenImage {
  width: 50px;
}

.tokenItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  color: hsl(150, 6%, 75%);
  max-width: 100%;
  padding: 10px;
  margin: 1px;
  font-size: 1.3rem;
}

.tokenTitle {
  color: rgba(50, 50, 50, 5);
}

.tokenPrice {
  color: rgba(10, 10, 10, 0.959);
}

.negativeChange {
  color: red;
}

.positiveChange {
  color: green;
}
