.tickerContainer {
  font-size: 1.2rem;
  text-align: center;
  background-color: #fff;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

/* .tickerContainer:hover {
  animation-play-state: paused;
} */

.firstTicker {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

.ticker {
  flex: none;
  animation: tickerSlide 10s linear infinite;
  width: 20vw;
  display: inline-block;
  white-space: nowrap;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes tickerSlide {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}

.ticker2 {
  flex: none;
  animation: tickerSlide2 10s linear infinite;
  animation-delay: 0.5s;
  display: inline-block;
  white-space: nowrap;
  width: 20vw;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes tickerSlide2 {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}
